{% extends 'base.html.twig' %}

{% block title %}Question: {{ question }}{% endblock %}
{% block body %}
<h1>{{ question }}</h1>

{# ohn I'm just a comment hiding here #}

<div>
    Eventually, we'll print the full question here!
</div>

<h2>Answers ({{ answers|length }})</h2>

<lu>
    {% for answer in answers %}
        <li>
            {{ answer }}
        </li>
    {% endfor %}
</lu>
{% endblock %}
